<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Dmitri Smirnov" />
	<meta name="description" content="Boredom? Come in and click just for fun!" />
	<title><%= title %></title>
	<link rel="stylesheet" href="/master.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>

<div id="others">
  <strong>Stuff to hit:</strong>
  <% Model.get_all.each do |m| %>
      <img src="/icons/<%= m %>.png" alt="" />
      <% if m == name %>
      <span><%= Model.new(m).human_name %></span>
      <% else %>
      <a href="/<%= m %>"><%= Model.new(m).human_name %></a>
      <% end %>
      &nbsp;
  <% end %>
</div>
  
<div id="wrapper">

  <%= yield %>
  
  <div id="footer">
    &copy; 2010 <a href="http://www.dmitri.me/">Dmitri Smirnov</a> | 
    <a href="/api">API</a> | 
    <a href="http://github.com/dknight/Hits">Source</a> | 
    <a href="/contest">Contest</a>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4197203-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
